.tg-clearfix {
    clear: both;
}

.tg-dim {
    background-color: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.tg-canvases canvas {
    cursor: pointer;
}

.tg-canvases .tg-canvas-container-template {
    display: none;
}

.tg-canvases .tg-canvas-container {
    float: left;
}

.tg-canvases .tg-canvas-container:not(:last-of-type) {
    margin-right: 10px;
}

.tg-canvases .tg-canvas-container .tg-canvas-title,
.tg-canvases .tg-canvas-container .tg-canvas-description {
    display: none;
}

.tg-controls {
    clear: both;
    margin-top: 20px;
}

.tg-controls .tg-color-container-template {
    display: none;
}

.tg-controls .tg-new-color {
    margin-top: 20px;
}

.tg-controls .tg-new-color button:not(:first-of-type) {
    margin-left: 10px;
}

.tg-controls .tg-size,
.tg-controls .tg-colors {
    margin-top: 20px;
}

.tg-controls .tg-size label:not(:first-of-type) {
    margin-left: 10px;
}

.tg-controls .tg-colors .tg-color-container:not(:first-child) {
    margin-top: 20px;
}

.tg-controls .tg-colors .tg-color-container .tg-color-combo {
    display: inline-block;
}

.tg-controls .tg-colors .tg-color-container .tg-color-weight-combo {
    display: inline-block;
}

.tg-controls .tg-colors .tg-color-container .tg-color-buttons {
    display: inline-block;
    margin-left: 10px;
}

.tg-controls .tg-colors .tg-color-container .tg-color-weight-label {
    margin-left: 5px;
}

.tg-controls .tg-colors .tg-color-container .tg-color-weight-range {
    margin: 0;
    padding: 0;
    width: 75px;
    vertical-align: middle;
}

.tg-controls .tg-colors .tg-color-container .tg-color-weight-value {
    display: inline-block;
    margin-left: 5px;
    min-width: 30px;
}

.tg-controls .tg-colors .tg-color-container .tg-remove-color-btn {
    margin-left: 10px;
}

.tg-map {
    background-color: #333;
    color: #fff;
    display: none;
    padding: 20px;
    position: absolute;
    z-index: 2000;
}

.tg-map h2 {
    margin: 0 0 10px;
}

.tg-map .tg-map-links {
    margin-top: 10px;
    text-transform: uppercase;
}

.tg-map .tg-map-links .tg-map-link {
    color: #fff;
}

.tg-map .tg-map-links .tg-map-link:not(:last-of-type) {
    margin-right: 10px;
}

.tg-map .tg-map-patterns ul {
    list-style-type: none;
    padding: 0;
}

.tg-map .tg-map-patterns ul li {
    background-color: #444;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.tg-map .tg-map-patterns ul li:not(:last-child) {
    margin-right: 10px;
}

.tg-map .tg-map-patterns ul li.tg-map-pattern-active {
    background-color: #999;
}

@media (max-width: 500px) {
    .tg-controls .tg-colors .tg-color-container .tg-color-weight-combo {
        clear: both;
        display: block;
    }

    .tg-controls .tg-colors .tg-color-container .tg-color-weight-label {
        margin-left: 0px;
    }

    .tg-controls .tg-colors .tg-color-container .tg-color-buttons {
        clear: both;
        margin-left: 0px;
    }
}

@media (max-width: 400px) {
    .tg-controls .tg-new-color button:not(:first-of-type) {
        margin-left: 0;
    }

    .tg-controls .tg-colors .tg-color-container .tg-remove-color-btn {
        margin-left: 0;
    }
}