.clearfix {
    clear: both;
}

.dim {
    background-color: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.canvases canvas {
    cursor: pointer;
}

.canvases .canvas-container-template {
    display: none;
}

.canvases .canvas-container {
    float: left;
}

.canvases .canvas-container:not(:last-of-type) {
    margin-right: 10px;
}

.canvases .canvas-container .canvas-title,
.canvases .canvas-container .canvas-description {
    display: none;
}

.controls {
    clear: both;
    margin-top: 20px;
}

.controls .color-container-template {
    display: none;
}

.controls .new-color {
    margin-top: 20px;
}

.controls .new-color button:not(:first-of-type) {
    margin-left: 10px;
}

.controls .size,
.controls .colors {
    margin-top: 20px;
}

.controls .size label:not(:first-of-type) {
    margin-left: 10px;
}

.controls .colors .color-container:not(:first-child) {
    margin-top: 20px;
}

.controls .colors .color-container .color-combo {
    display: inline-block;
}

.controls .colors .color-container .color-weight-combo {
    display: inline-block;
}

.controls .colors .color-container .color-weight-label {
    margin-left: 5px;
}

.controls .colors .color-container .color-weight-range {
    margin: 0;
    padding: 0;
    width: 75px;
    vertical-align: middle;
}

.controls .colors .color-container .color-weight-value {
    display: inline-block;
    margin-left: 5px;
    min-width: 30px;
}

.controls .colors .color-container .remove-color-btn {
    margin-left: 10px;
}

.map {
    background-color: #333;
    color: #fff;
    display: none;
    padding: 20px;
    position: absolute;
    z-index: 2000;
}

.map h2 {
    margin: 0 0 10px;
}

.map .map-links {
    margin-top: 10px;
    text-transform: uppercase;
}

.map .map-links .map-link {
    color: #fff;
}

.map .map-links .map-link:not(:last-of-type) {
    margin-right: 10px;
}

@media (max-width: 440px) {
    .controls .colors .color-container .color-weight-combo {
        clear: both;
        display: block;
    }

    .controls .colors .color-container .color-weight-label {
        margin-left: 0px;
    }

    .controls .colors .color-container .remove-color-btn {
        margin-left: 0px;
    }
}